<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title> 
</head>
<script type="text/javascript">
	function link() {
		location.href = "http://console.tunnel.qydev.com/hello";
	}
</script>
<body>
	<ul>
		<li><img alt="" src="http://picture.tunnel.qydev.com/wx/pic/Hydrangeas.jpg" /></li>
		<li><audio autoplay="autoplay" controls="controls" src="http://picture.tunnel.qydev.com/wx/pic/See You Again.mp3"></audio> </li>
		<li></li>
	</ul>
	<button onclick="link()">baidu</button>
</body>
</html>